<div id="header">
  <div class="text-center">
    <%= image_tag "logo_main.png" %>
  </div>
  <div class="navbar">

    <div class="container-fluid" style="justify-content:space-between">

            <ul class="nav-item">
              <p>зона комфорта</p>
            </ul>
            <ul class="nav-item">
              <p>я-тренер</p>
            </ul>
            <ul class="nav-item">
              <p>цены</p>
            </ul>
            <ul class="nav-item">
              <p>коучи</p>
            </ul>
            <ul class="nav-item">
              <p>зачем мне это?</p>
            </ul>
            <%# <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            <%# </li> %>

    </div>
  </div>
</div>
