
<div id="header" class="header">
  <div class="text-center logo">
    <%= image_tag "logo_main.png" %>
  </div>

<div class = "main_container" style = "padding-top: 40px; padding-bottom: 40px; text-align: justify;" >

<h1 style = "text-align: center;"> Оферта на оказание дистанционных консультационных услуг </h1>
<p>Данный документ является официальным предложением (публичной офертой) Индивидуального предпринимателя МАРКОВОЙ МАРИИ АЛЕКСАНДРОВНЫ ИНН 772589253290, зарегистрированного в Российской Федерации, (далее – Исполнитель) лицу, которое в полном объеме и безоговорочно согласится со всеми условиями и произведет оплату программы наставничества (далее - «Заказчик»).</p>

    <p>В соответствии с пунктом 2 статьи 437 Гражданского Кодекса Российской Федерации (ГК РФ) в случае принятия изложенных ниже условий и оплаты услуг юридическое или физическое лицо, производящее акцепт этой оферты, становится Заказчиком (в соответствии с пунктом 3 статьи 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте).</p>

    <p>Исполнитель заключает договор (далее – Договор) на оказание услуг на нижеследующих условиях.</p>

    <h2>1. ОПРЕДЕЛЕНИЯ И ТЕРМИНЫ</h2>

    <p>1.1. В целях настоящего документа нижеприведенные термины используются в следующем значении:</p>

    <ul>
        <li><strong>Оферта</strong> – настоящий документ, размещенный в сети Интернет по адресу http://trener-na-divane.com.</li>
        <li><strong>Сайт Исполнителя (Сайт)</strong> – веб-сайт, расположенный под доменным именем http://trener-na-divane.com и управляемый Исполнителем.</li>
        <li><strong>Услуги</strong> – деятельность Исполнителя, связанная с оказанием доступа к Сайту с целью оказания дистанционных консультаций для достижения Заказчиком необходимых физических показателей в соответствии с запросом Заказчика.</li>
        <li><strong>Физические показатели</strong> – изменчивые характеристики тела Заказчика, а именно: масса тела (вес), обхват груди, обхват талии, обхват бёдер.</li>
        <li><strong>Заказчик</strong> – физическое лицо, заключившее Договор с Исполнителем в электронной форме, в результате Акцепта Оферты и тем самым получившее право получать Услуги Исполнителя, в полном объеме выполняющее свои обязательства по Договору.</li>
        <li><strong>Консультант</strong> – физическое лицо, оказывающее Заказчику консультационные услуги от лица Исполнителя.</li>
        <li><strong>Консультация</strong> – услуга длительностью 30 или 60 минут, оказываемая Заказчику дистанционно путем аудио- и видеосвязи.</li>
        <li><strong>Подписка</strong> – приобретение определенного количества Консультаций по ценам и условиям, опубликованным на сайте Заказчика.</li>
    </ul>

    <p>1.2. В Оферте могут быть использованы термины, не определенные в п.1.1. Оферты. В этом случае толкование такого термина производится в соответствии с текстом Оферты.</p>
    <h2>2. ПРИНЯТИЕ И ИЗМЕНЕНИЕ НАСТОЯЩЕГО ДОГОВОРА</h2>
    <p>2.1. Оплатив Услуги, Заказчик тем самым принимает настоящую Оферту полностью, безоговорочно и безусловно и с момента оплаты считается вступившим с Исполнителем в договорные отношения.</p>
    <p>2.2. Любой Заказчик, принимающий Оферту, заверяет Исполнителя о следующих обстоятельствах:</p>
    <ul>
        <li>2.2.1. он является совершеннолетним (достиг возраста полной дееспособности) согласно законодательству своей страны и обладает полной договорной дееспособностью; или</li>
        <li>2.2.2. если Заказчик является несовершеннолетним: он является эмансипированным несовершеннолетним либо получил законное согласие родителя или законного опекуна или попечителя на заключение Договора в форме, установленной действующим законодательством, и обладает полной правоспособностью и дееспособностью для заключения и исполнения настоящего Договора; или</li>
        <li>2.2.3. если Заказчик является родителем, или законным опекуном, или попечителем несовершеннолетнего и заключает Договор от его имени: давая несовершеннолетнему разрешение пользоваться Услугами, родители и опекуны (попечители) соглашаются с условиями Оферты от имени несовершеннолетнего и несут ответственность за надзор за использованием Услуг несовершеннолетним. Если родитель, или законный опекун, или попечитель несовершеннолетнего не давал такого разрешения, то он должен незамедлительно связаться с Исполнителем с просьбой отключить ребенку доступ;</li>
        <li>2.2.4. для заключения и выполнения Заказчиком настоящего Договора не требуется согласия или одобрения каких-либо третьих лиц. Исполнитель вправе в любой момент потребовать от Заказчика предоставить информацию и документы, подтверждающие приведенные выше заверения об обстоятельствах, а Заказчик обязуется предоставить такую информацию и документы в течение 14 (четырнадцати) календарных дней с даты запроса; в таком случае Исполнитель возмещает почтовые расходы Заказчика.</li>
    </ul>
    <p>2.3. Оферта может быть изменена:</p>
    <ul>
        <li>2.3.1. Исполнитель вправе изменять условия оплаты и тарифов путем публикации новых условий на сайте, при этом стоимость предоплаченных Консультаций не меняется. Перед тем, как внести предоплату за дополнительные Консультации, Заказчик должен ознакомиться с новыми тарифами и путем внесения предоплаты принять новые ценовые условия. В случае если Заказчик не согласен с новыми условиями, Договор между Исполнителем и Заказчиком прекращает действие немедленно по окончании Консультаций, за которые уже была внесена предоплата.</li>
        <li>2.3.2. Исполнитель вправе вносить изменения и в другие условия Оферты и все приложения к ней (полностью или в части) в любой момент по своему усмотрению. В случае внесения Исполнителем изменений в Оферту или приложения к ней, такие изменения вступают в силу в момент размещения измененного текста Оферты и/или приложений к ней на Сайте.</li>
        <li>2.3.3. Заказчик обязуется самостоятельно следить за изменениями Оферты и приложениями к ней путем периодического ознакомления (не реже одного раза в месяц) с актуальной редакцией Оферты, расположенной по адресу, указанному в п.1.1.</li>
    </ul>

    <h2>3. ПРЕДМЕТ ДОГОВОРА</h2>
    <p>3.1. Предметом настоящего Договора является предоставление доступа к Сайту и оказание платных дистанционных консультационных услуг по вопросу достижения Заказчиком необходимых физических показателей веса, и(или) набора мышечной массы, и (или) повышения ловкости и выносливости, и (или) укрепления органов и систем организма в соответствии с запросом Заказчика.</p>
    <p>3.2. Исполнитель вправе без предварительного согласия с Заказчиком привлекать любых физических и юридических лиц для обеспечения своевременного оказания качественных Услуг по Договору.</p>
    <p>3.3. Услуги оказываются по подписке и предоставляются Заказчику по запросу при условии наличия доступного Консультанта.</p>

    <h2>4. НАЗНАЧЕНИЕ И ЗАМЕНА КОНСУЛЬТАНТА, <nobr>СОСТАВЛЕНИЕ РАСПИСАНИЯ КОНСУЛЬТАЦИЙ</nobr></h2>
    <p>4.1. Исполнитель назначает Консультанта по своему усмотрению, принимая во внимание цели и пожелания Заказчика, а также промежутки времени, в которые Заказчик может получать Консультации. Заказчик осведомлен, что Исполнитель определяет уровень физической подготовки Заказчика для целей составления плана Консультаций и подбора Консультанта, эта оценка носит справочный характер и может отличаться от оценки, которую Заказчик может получить у третьих лиц.</p>
    <p>4.2. Заказчик вправе попросить Исполнителя изменить Консультанта и обязан указать причины такого запроса. Исполнитель рассматривает запрос в течение 48 (сорок восемь) часов с момента получения и оставляет за собой право отказать в его удовлетворении либо продлить время рассмотрения запроса.</p>
    <p>4.3. Расписание Консультаций составляется исходя из того, какие временные интервалы свободны для Консультации как у Заказчика, так и у Консультанта. Исполнитель имеет право, но не обязан, закрепить в расписании Консультанта время для постоянных Консультаций, однако в случае, если Заказчик не оплатит Консультацию за 8 (восемь) часов до ее начала, то Консультация может быть отменена Исполнителем.</p>
    <p>4.4. Исполнитель вправе попросить заменить Консультанта по уважительным причинам (болезнь, плановое отсутствие, другие обстоятельства) и обязуется уведомить об этом Заказчика по электронной почте или телефону. В случае если Заказчик отказывается менять Консультанта, Заказчик вправе приостановить получение Услуг по настоящему Договору.</p>
    <h2>5. ПОРЯДОК ПРОВЕДЕНИЯ КОНСУЛЬТАЦИЙ</h2>
    <p>5.1. Консультации проводятся с помощью разработанной Исполнителем интерактивной платформы и/или другой программы аудио- и видеосвязи.</p>
    <p>5.2. Заказчик соглашается с тем, что Исполнитель вправе записывать аудио и видео Консультаций с целью контроля качества и повышения качества обслуживания.</p>
    <p>5.3. Заказчик соглашается с тем, что не в праве делать видеозаписи Консультаций без получения на то согласия со стороны Исполнителя.</p>
    <p>5.4. Если в установленное расписанием время Консультанту не удается связаться с Заказчиком, Консультант повторяет попытку связаться с Заказчиком до трех раз. Консультация считается начатой по расписанию, независимо от того, когда установлена связь. В случае если, несмотря на соблюдение положений данного пункта, Консультанту не удается связаться с Заказчиком, Консультация считается успешно проведенной и оплачивается в размере 100% от стоимости.</p>
    <p>5.5. В случае если в течение пяти минут после запланированного начала Консультации Заказчик не получает звонка от Консультанта, Заказчик обязан связаться с Исполнителем по контактам представленным на Сайте по адресу <a href="http://trener-na-divane.com">http://trener-na-divane.com</a>. Консультация, не проведенная по вине Консультанта, переносится на другое приемлемое для Заказчика время.</p>
    <p>5.6. Консультация считается проведенной надлежащим образом, если в течение 1 (одного) часа после ее окончания Заказчик не обратится к Исполнителю относительно качества Консультации или пунктуальности Консультанта.</p>

    <h2>6. ПЕРЕНОС И ПРОПУСК КОНСУЛЬТАЦИЙ</h2>
    <p>6.1. Заказчик вправе перенести или отменить Консультацию за 8 (восемь) часов до начала. Если Заказчик не обращается в указанные сроки к Исполнителю с просьбой об отмене или переносе Консультации, то это означает, что Заказчик согласен на предлагаемое время проведения Консультации. Если Заказчик пропускает Консультацию, то оплаченные за эту Консультацию деньги не возвращаются. Количество Консультаций, которые можно бесплатно перенести или отменить, зависит от интенсивности графика Консультаций Заказчика. Заказчик вправе отменить или перенести:</p>
    <ul>
        <li>6.1.1. 1 (одну) Консультацию в месяц, если Заказчик посещает одну Консультацию в неделю;</li>
        <li>6.1.2. 2 (две) Консультации в месяц, если Заказчик посещает 2 (две) или 3 (три) Консультации в неделю;</li>
        <li>6.1.3. 3 (три) Консультации в месяц, если Заказчик посещает 4 (четыре) или более Консультаций в неделю.</li>
    </ul>
    <p>6.2. Пробная Консультация длится 60 минут и оплате Заказчиком не подлежит. Однако при пропуске или отмене Заказчиком пробной Консультации, Исполнитель не обязан проводить другую бесплатную пробную Консультацию.</p>
    <p>6.3. Исполнитель, в том числе в лице Консультанта, вправе изменить расписание с предварительным уведомлением Заказчика за 24 (двадцать четыре) часа.</p>

    <h2>7. ТЕХНИЧЕСКИЕ ТРЕБОВАНИЯ</h2>
    <p>7.1. Заказчик несет ответственность за соблюдение технических требований на протяжении всей Консультации и за организацию рабочего пространства перед Консультацией. Исполнитель не несет ответственности за непредоставление Услуг или их ненадлежащее качество, если причиной стало отсутствие у Заказчика необходимого программного обеспечения или технические проблемы с подключением к Интернету.</p>
    <p>7.2. Технические требования:</p>
    <ul>
        <li>7.2.1. Наличие микрофона и видеокамеры</li>
        <li>7.2.2. Интернет-соединение от 3 Мбит/сек.</li>
    </ul>
    <p>7.3. Организация рабочего пространства:</p>
    <ul>
        <li>7.3.1. Заказчик должен закрыть все программы, которые могут занять большую часть интернет-канала;</li>
        <li>7.3.2. Для проведения Консультации Заказчик должен обеспечить доступ к микрофону и видеокамере на своем техническом устройстве.</li>
        <li>7.3.3. Заказчик должен обеспечить достаточное для Консультации свободное пространство перед своим техническим устройством: расстояние 2 метра от камеры до заказчика и 2 метра пространства вокруг Заказчика, необходимого для комфортного выполнения упражнений.</li>
        <li>7.3.4. Заказчик должен обеспечить себя дополнительным оборудованием, которое было выбрано Консультантом для достижения целей Заказчика и согласовано с Заказчиком.</li>
    </ul>
<h2>8. ПРИОСТАНОВКА КОНСУЛЬТАЦИЙ</h2>
    <p>8.1. Заказчик вправе приостановить оказание Услуг с сохранением расписания Консультаций при соблюдении следующих условий:</p>
    <ul>
        <li>8.1.1. Перерыв в Консультациях не может быть дольше 21 (двадцати одного) дня;</li>
        <li>8.1.2. С даты окончания предыдущей приостановки прошло не менее 90 (девяноста) дней;</li>
        <li>8.1.3. На момент приостановки (или сразу после окончания последней перед приостановкой Консультации) Заказчиком оплачены как минимум 5 (пять) будущих Консультаций.</li>
        <li>8.1.4. Заказчик сообщает Исполнителю дату и время: Последней Консультации перед приостановкой, Первой Консультации после приостановки.</li>
    </ul>
    <p>8.2. Если Заказчику необходимо повторно приостановить оказание Услуг, но с момента предыдущей приостановки прошло менее 90 (девяноста) дней, Заказчик вправе приостановить оказание Услуг путем уведомления Исполнителя за 24 часа до начала ближайшей Консультации; в этом случае Консультации, зарезервированные за Заказчиком в графике Консультанта, отменяются.</p>
    <p>8.3. Исполнитель вправе приостановить Консультации по своему усмотрению в случае государственных праздников по месту жительства Заказчика или по месту нахождения Консультанта, если Исполнитель заблаговременно уведомит об этом Заказчика по электронной почте или телефону.</p>

    <h2>9. ЦЕНА И ОПЛАТА УСЛУГ</h2>
    <p>9.1. Услуги являются платными и оплачиваются на условиях 100% предоплаты по Подписке. Цены и способы оплаты публикуются на сайте Заказчика. Каждый пакет Подписки дает право на получение Услуг в пределах лимита, указанного в описании пакета, в течение 12 (двенадцати) месяцев для Подписки с лимитом менее 25 (двадцати пяти) Консультаций или в течение 6 (шести) месяцев для Подписки с лимитом менее 25 (двадцати пяти) Консультаций.</p>
    <p>9.2. Заказчик оплачивает Услуги на условиях 100% предоплаты. Заказчик обязан оплатить Консультации до их начала. В случае если Заказчик оплачивает Консультацию менее чем за 24 (двадцать четыре) часа до ее начала, Исполнитель вправе отменить Консультацию и зарезервировать время Консультанта для других Заказчиков.</p>
    <p>9.3. Оплата считается произведенной, когда деньги зачисляются на счет Исполнителя или третьего лица, взимающего оплату от имени Исполнителя.</p>
    <p>9.4. Заказчик несет единоличную ответственность за корректность осуществляемых платежей и оплату применимых налогов.</p>
    <p>9.5. Заказчик несет единоличную ответственность за оплату услуг третьих лиц (таких как услуги связи, Интернет и т.д.), необходимых для получения Услуг Исполнителя.</p>
    <p>9.6. Исполнитель не обрабатывает персональные данные плательщиков, предоставленные в связи с проведением Процессинговым центром расчетов по платежам. Исполнитель не хранит реквизиты банковских карт на своих ресурсах, в том числе серверах, облачных хранилищах и т.д.</p>

    <h2>10. ДАННЫЕ ЗАКАЗЧИКА</h2>
    <p>10.1. Заказчик обязуется предоставлять Исполнителю все данные, запрашиваемые Сайтом или Исполнителем, которые необходимы для предоставления Услуг.</p>
    <p>10.2. Исполнитель обрабатывает данные Заказчика в соответствии с Политикой конфиденциальности, которую можно найти на сайте <a href="http://trener-na-divane.com/personal">http://trener-na-divane.com/personal</a> и которое включено в настоящий Договор путем отсылки.</p>
    <p>10.3. Исполнитель вправе использовать электронную почту, номер телефона, логин Skype и другие данные, предоставленные Заказчиком при регистрации на Сайте, для отправки Заказчику информации, в том числе для информирования Заказчика о деятельности Исполнителя и о ходе исполнения настоящего Договора.</p>
    <h2>11. ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
    <p>11.1. Ответственность Исполнителя за отмену Консультаций ограничивается возвратом оплаченной за них суммы или переносом Консультации на другое время.</p>
    <p>11.2. Ответственность Исполнителя за оказание Услуг в иных случаях ограничивается стоимостью текущего пакета Подписки, выбранного и оплаченного Заказчиком.</p>
    <p>11.3. Стороны не несут ответственности за нарушение своих обязательств по Договору, если такое нарушение явилось следствием обстоятельств или событий, которые нарушившая Сторона не могла обоснованно ожидать (обстоятельства непреодолимой силы), включая наводнения, другие стихийные бедствия, военные действия, решения и действия органов государственной власти (в том числе принятие правовых актов, блокировкой Интернет – страниц, введение ограничений в сети Интернет для граждан отдельных стран), отсутствие электроэнергии и/или сбои работы компьютерной сети, или иные события. Надлежащим подтверждением для Сторон наличия обстоятельств непреодолимой силы и их продолжительности является справка, выданная уполномоченным органом.</p>
    <p>11.4. Исполнитель вправе отказать в оказании Услуг, если имеет разумные основания полагать, что Заказчик вел себя неподобающе во время Консультации (например, грубил Консультанту).</p>
    <p>11.5. При предоставлении Заказчику в качестве бонуса или поощрения дополнительных Консультаций, Заказчик не может требовать от Исполнителя денежной компенсации в случае, если такая дополнительная Консультация по какой-либо причине не была проведена или если Заказчик отказывается от такой Консультации. Такие дополнительные бонусные Консультации проводятся после прохождения всех оплаченных Заказчиком Консультаций.</p>
    <p>11.6. В случае если Заказчик приобретает любой вид абонемента услуг Исполнителя и не пользуется услугами в течение месяца – абонемент прекращает свое действие.</p>
    <p>11.7. В случае если:</p>
    <ul>
        <li>11.7.1. Заказчик не воспользовался подарочным сертификатом на Консультации в срок, указанный в сертификате, или</li>
        <li>11.7.2. в течение 12 (двенадцати) месяцев после оплаты Заказчик получает меньшее количество Консультаций, чем максимальное количество Консультаций, предусмотренных выбранным им пакетом Подписки, Услуги Исполнителя считаются оказанными надлежащим образом и Заказчик не претендует на возврат денежных средств.</li>
    </ul>
    <p>11.8. Принимая настоящую Оферту, Заказчик заявляет, что не имеет медицинских противопоказаний для получения Услуг. Исполнитель не несет ответственности за вред, причиненный здоровью заказчика, в результате недостоверности сведений о здоровье Заказчика. Исполнитель настоятельно рекомендует Заказчику перед началом пользования Услуг проконсультироваться с врачом. В случае наличия медицинских противопоказаний Заказчик обязуется не использовать Услуги, предоставляемые Исполнителем.</p>
    <p>11.9. Исполнитель не несет ответственности за возможное причинение вреда здоровью Заказчика и иные нежелательные последствия, явно или косвенно вызванные использованием Услуг. Заказчик добровольно берет на себя ответственность за получение любого вида повреждений, от которых может пострадать физически или морально.</p>
    <p>11.10. В силу дистанционного предоставления Услуг Исполнитель не имеет возможности осуществлять какой-либо врачебный контроль над состоянием здоровья Заказчика и последствиями использования Услуг.</p>
    <p>11.11. Обязанность наблюдения за состоянием своего здоровья и последствиями использования Услуг лежит лично на Заказчике. Заказчик обязан немедленно приостановить использование Услуг в случае обнаружения ухудшения своего состояния здоровья и обратиться за консультацией к врачу.</p>

    <h2>12. РАСТОРЖЕНИЕ ДОГОВОРА</h2>
    <p>12.1. Заказчик вправе расторгнуть настоящий Договор в одностороннем порядке, направив по электронной почте (hello@trener-na-divane.com) Исполнителю уведомление о своем намерении расторгнуть договор и причинах расторжения. Исполнитель в течение 10 (десяти) рабочих дней рассмотрит вопрос о возврате Заказчику ранее оплаченных Заказчиком денежных средств в размере, равном стоимости Услуг, не оказанных Исполнителем, но при условии удержания Исполнителем понесенных им расходов на обработку платежей.</p>
    <p>12.2. В случае положительного решения возврат средств производится Исполнителем в течение 20 (двадцати) рабочих дней с даты получения Исполнителем от Заказчика заявления о возврате согласно п.12.3. При наличии претензии к качеству оказанных Услуг такая претензия рассматривается Исполнителем в течение 10 (десяти) рабочих дней.</p>
    <p>12.3. Чтобы получить возврат денежных средств, Заказчик заполняет заявление о возврате денежных средств по форме, предоставленной Исполнителем, подписывает его и отправляет его электронную копию вместе с электронной копией первой страницы удостоверения личности Заказчика (паспорта).</p>
    <p>12.4. В случае если Заказчик решит возобновить Консультации после расторжения Договора, стоимость Консультаций определяется в соответствии с ценами, действующими на момент возобновления.</p>

    <h2>13. РАЗРЕШЕНИЕ СПОРОВ</h2>
    <p>13.1. Все споры, связанные с заключением, толкованием, исполнением и расторжением настоящего Договора, будут разрешаться Сторонами путем переговоров.</p>
    <p>13.2. В случае недостижения соглашения в ходе переговоров, заинтересованная Сторона направляет претензию в письменной форме, подписанную уполномоченным лицом. Претензия должна быть направлена с использованием средств связи, обеспечивающих фиксирование ее отправления (заказной почтой, факсом и т.д.) и получения, либо вручена другой Стороне под расписку.</p>
    <p>13.3. Сторона, которой направлена претензия, обязана рассмотреть полученную претензию и о результатах уведомить в письменной форме заинтересованную Сторону в течение 10 (десяти) рабочих дней со дня получения претензии.</p>
    <p>13.4. В случае невозможности урегулирования разногласий в претензионном порядке, а также в случае неполучения ответа на претензию в течение срока, указанного в п. 14.3 Договора, спор передается в суд по местонахождению Исполнителя в соответствии с действующим законодательством РФ.</p>

    <h2>14. ПРОЧИЕ ПОЛОЖЕНИЯ</h2>
    <p>14.1. В случае если какое-либо положение Договора признается недействительным, ничтожным или неисполнимым, все прочие положения Договора остаются действительными и подлежат исполнению в полном объеме.</p>
    <p>14.2. Исполнитель вправе переуступить права и обязанности по настоящему Договору третьим лицам, и Заказчик настоящим соглашается с такой переуступкой.</p>
    <p>15. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</p>
    <p>Индивидуальный предприниматель Маркова Мария Александровна (ИНН 772589253290)</p>
    <p>E-mail: hello@trener-na-divane.com</p>

</div>
