@media only screen and (max-width: 600px) {

  .menu {
    display: none;
  }
  .header {
    width: 600px;
    padding-right: 0;
    padding-left: 0;
  }
  .main_container {
    padding-right: 16px;
    padding-left: 16px;
  }

  .page_1_video {
    display: none;

  }
}
