.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.footer_text {
  text-decoration: none;
display: flex;
flex-direction: column;
color: black;
font-family: "Circa";
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: 47px;
}

.footer_small_text {
  a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    color: black;
    font-family: "Circalight";
    text-decoration: none;

    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
  }
text-decoration: none;
display: flex;
flex-direction: column;
color: black;
font-family: "Circalight";
text-decoration: none;

font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
}

.ip {
  overflow-x: auto;

}
