@media only screen and (max-width: 600px) {
//header
.logo {
  img {
  width: 120px;
  margin-bottom: 20px;
  }
}
  .menu {
    display: none;
  }
  .header {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }
  .main_container {
    padding-right: 16px;
    padding-left: 16px;
  }
//1_PAGE
.page_1 {
  display: none;
}
.page_1_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;

  .page_text_1 {
  font-size: 18px;
  padding-left: 5px;
  }
  .page_text_1_bold{
    padding-left: 5px;
  }
  .btn-firstpage {
    margin-left: 25px;
    width: 240px;
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 800;

  }
}

//2_PAGE
.page_2 {
  width: 280px;

  .arrow_small {
    margin-left: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      height: 15px;

    }
  }

}
.page_2_graph {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 7%;
  margin-bottom: 10%;

  .graph {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 280px;
    height: 50px;



    p {
      padding-top: 15px;
      padding-left: 15px;
      font-size: 16px;
      text-align: left;
    }
    .circle-green {
      width: 48px;
      height: 48px;
      background-color: #00ff19;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;



      h2 {
        margin: 0;
        padding: 0;
        display: flex;
      }
    }
  }
  .arrow_small {
    // height: 20px;
    display: flex;
    align-items: center;
    img {

      width: 16px;
    }
  }
  .arrow {
    display: none;
  }
}

//PAGE_4

.page_4_desktop {
  display: none;
}

.page_4_mobile {
  display: block;
   width: 300px;
  overflow-x: hidden;
  margin-bottom: 70px;
}

// .swiper-pagination-bullet {
// 	padding: 5px 10px;
// 	border-radius: 0;
// 	width: auto;
// 	height: 30px;
// 	text-align: center;
// 	line-height: 30px;
// 	font-size: 12px;
// 	color:#000;
// 	opacity: 1;
// 	background: rgba(0,0,0,0.2);
// }
// .swiper-pagination-bullet-active {
// 	color:#fff;
// 	background: #007aff;
// }

//PAGE 5
.page_5_mobile {
  display: block;
  width: 380px;
  overflow-y: hidden;
}
.page_5 {
  display: none;
}

//PAGE 7

.page_7 {
  p {
    font-size: 16px;
    width: 100% !important;
  }

}

h1{
  font-size: 32px;
}

.page_8 {
  display: none !important;
}

}
