//HEADER
.header {
  position: sticky;
  top: 0;
  background-color: white;
  padding-top: 10px;
  padding-right: 140px;
  padding-left: 140px;
  z-index: 1;

  .header-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    line-height: 5%;
  }
}

// PAGE 2
.page_2_graph {
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;

  .graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 140px;

    p {
      padding-top: 10px;
    }
    .circle-green {
      width: 48px;
      height: 48px;
      background-color: #00ff19;
      border-radius: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        margin: 0;
        padding: 0;
        display: flex;
      }
    }
  }
  .arrow {
    height: 48px;
    display: flex;
    align-items: center;
  }
}

// PAGE 3
.nav {
  .nav-item {
    margin: 5px;

    .btn {
      height: 40px;
      border-radius: 9px;
      padding: 10 0;
    }
  }
}
.page_3_cards {
  display: flex;
  overflow-x: scroll;

  .card-coach {
    margin-right: 25px;

    .card-body {
      button {
        border-radius: 6px;
      }
    }
  }
}

// PAGE 4
.page_4_cards {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}

// PAGE 5


.page_5_cards {
  // display: flex;
  // flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  white-space: nowrap;



  .card {
    display: inline-block;
    border: 0;
    vertical-align: top;
    .card-text {
      white-space: normal;
    }
    img {
      width: 300px;

    }
    .reason-img {
      width: 300px;
      height: 369px;
      background-color: #d9d9d9;
    }
  }
}

// PAGE 7
.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;

  .page-text {
    width: 50%;

    .btn {
      margin-top: 60px;
      border-radius: 6px;

      h6 {
        padding: 0;
        margin: 0;
      }
    }
  }
}

.page_5_cards::-webkit-scrollbar {
  width: 3px;
  height: 3px;

}

.page_5_cards::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);

}

.page_5_cards::-webkit-scrollbar-thumb {
  background-color: #00FF19;
  // outline: 1px solid  #00FF19;;
}
